@font-face {
    font-family:'zabras';
    src: url('fonts/ZABARS/Zabars.ttf') format('truetype');
}

@media only screen and (max-width:720px){
    canvas {
        width: 100%;
    }
}
@media only screen and (max-height:480px){
    canvas {
        height: 98vh;
        
    }
    h1{
        display: none;
    }
    .control{
        position: absolute;
      display: flex!important;
        bottom:0px;
        
    }
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('img/dessert_bg.jpg');
    background-size: cover;
    margin: 0;
}
h1{
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 4px 8px rgba(252, 0, 0, 0.596);
    margin: 0;
    color: aliceblue;
    font-family:'zabras',Arial, Helvetica, sans-serif;
}
.display{
 
    height: 100vh;
   width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
canvas{
  display: block;
    border: 4px solid rgb(5, 0, 46);
  border-radius: 10px;
    background-color: rgb(37, 36, 35);
    
}

.control img{
    width: 60px;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.control{
   width: 90%;
   display: none;
}
.control-left{
    display: flex;

    width: 100%;
   
}
.control-right{
    display: flex;
    justify-content: end;
    width: 100%;
    
}